*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/fitness.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo 
{
position: relative;
font-size: 2em;
color: #fff;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;
letter-spacing: 1px;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
}

header .navigation li a
{
display: inline-block;
color: #fff;
margin-right: 40px;
text-decoration: none;
}

header .navigation li a:hover
{
    color: #04b8f5;
}

.content
{
    max-width: 600px;
}

.content .contentBox h2
{
    text-align: center;
    font-size: 4em;
    color: #fff;
    line-height: 1em;
}

.content .contentBox p
{
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}
